@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito sans', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header p{
    line-height: 0.4;
    font-size: 0.9em;
    font-weight: 600;
}

.details-table{
    width: 100%;
}

.details-table th{
    width: 60px;  
}

.details-table ul{
    border: 1px solid #ccc;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.details-table ul li{
    list-style: none;
    line-height: 2.5;
    padding: 0 10px;
    text-transform: uppercase;
}

.details-table ul li:nth-child(2){
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /* padding: 0 20px; */
    text-align: center;
}

.main-result-table th{
    text-transform: uppercase;
    font-size: 0.9em;
}
.main-result-table td{
    text-transform: uppercase;
    width: 100%;
}

.main-result-table td:nth-child(1){
    width: 40%;
    text-align: center;
}

.main-result-table td:nth-child(3){
    text-align: center;
}

.main-result-table td:nth-child(4){
    text-align: center;
}

.main-result-table td:nth-child(5){
    text-align: center;
}

.average td:nth-child(1){
    text-align: left;
}

.average td:nth-child(2){
    text-align: center;
}

.remarks td:nth-child(1){
    text-align: left;
}

.remarks td:nth-child(2){
    text-align: center;
}








    


 